@charset 'UTF-8';

// 1. Configuration and helpers
@import
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins';

// 2. Vendors
@import
  'vendor/normalize';

// 3. Base stuff
@import
  'base/base',
  'base/fonts',
  'base/typography',
  'base/helpers';

// 4. Layout-related sections
@import
  'layout/header',
  'layout/footer';

// 5. Components
@import
  'components/button';

// 6. Page-specific styles
@import
  'pages/home';

// 7. Themes
@import
  'themes/default';
div, nav, header{
  border: 2px dashed black;
  min-height: 4vh;
}
.hero {
  background-image:url("../img/sw-hero-home.png");
  background-repeat: no-repeat;
  background-size: cover;
  .hero-content {
    padding: 0 10px;
    h1 {
      font-size: 35px;
      font-weight: bold;
    }
    p {
      font-size: 14px;
    }
  }
  .search-box-hero {
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    height: 130px;
    display: block;
  }
}

.background-green  {
  background-color: $brand-color;
}

.navbar {
  padding: 0;
  .nav-top {
    display: inline-block;
    width: 100%;
    .nav-button {
      float: right;
      display: inline-block;
    }
  }
}
.nav-background-green {
  background-color: $brand-color - 40;
  padding: 20px;
}

.sub-nav {
  list-style: none;
}

@media screen and (min-width: 751px) {
  .up-nav, .search-box {
    display: none;
  }
}
@media screen and (max-width: 750px) {
  .hero-nav, .search-box-hero {
    display: none;
  }
}
